/*@import url('https://fonts.googleapis.com/css?family=Comfortaa');*/
/* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

h1,h2,h3,p {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 42px;
}

p {
  font-size: 36px;
}

.white {
  color: white;
}

.main {
  background: #4571DA;
  padding: 20px;
  width: 100vw;
  min-height: 100vh;
}

.thick-border {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
}

.align-right {
  display: flex;
  justify-content: space-between;
}




.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container .loading-icon {
  animation: loading-icon-spinner infinite 1.75s linear;
  height: 140px;
}

@keyframes loading-icon-spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}








.weather-container {
  min-height: calc(100vh - 20px);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}


/***  DATE TIME  ***/


.weather-container .date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-container .date-time p:last-of-type {
  text-align: right;
}

.weather-container .date-time p {
  flex: 1;
}

.weather-container .date-time .add-button {
  color: white;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.weather-container .date-time .add-button .add-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container .date-time .add-button .add-icon::before,
.weather-container .date-time .add-button .add-icon::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  margin-top: -1px;
  background: #000;
  border-radius: 5px;
}

.weather-container .date-time .add-button .add-icon::after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


/***  LEFT ICON RIGHT  ***/


.weather-container .icon-prev-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}

.weather-container .icon-prev-next button {
  height: 100%;
  width: 100%;
}

.weather-container .icon-prev-next div {
  height: 100%;
  width: 100%;
}

.weather-container .icon-prev-next .arrow-button {
  position: absolute;
  height: 100%;
  width: 50%;
}

.weather-container .icon-prev-next .prev {
  left: 0;
}

.weather-container .icon-prev-next .next {
  right: 0;
}

.weather-container .icon-prev-next .arrow-button .arrow-icon {
  display: flex;
  align-items: center;
}

.weather-container .icon-prev-next .arrow-button .icon-left {
  justify-content: flex-start;
}

.weather-container .icon-prev-next .arrow-button .icon-right {
  justify-content: flex-end;
}

.weather-container .icon-prev-next .arrow-button .arrow-icon .arrow {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

.weather-container .icon-prev-next .arrow-button .arrow-icon .arrow-left {
  justify-content: flex-start;
}
.weather-container .icon-prev-next .arrow-button .arrow-icon .arrow-right {
  justify-content: flex-end;

}


  /***  ARROW  ***/


    .arrow::before,
    .arrow::after {
      content: '';
      position: absolute;
      height: 4px;
      width: 40px;
      background: #000;
      border-radius: 5px;
    }

    .arrow::before {
      margin-top: 16px;
    }

    .arrow::after {
      margin-top: -16px;
    }

    .arrow-left::before {
      transform: rotate(60deg);
      margin-left: -6px;
    }

    .arrow-left::after {
      transform: rotate(-60deg);
      margin-left: -6px;
    }

    .arrow-right::before {
      transform: rotate(-60deg);
      margin-left: 6px;
    }

    .arrow-right::after {
      transform: rotate(60deg);
      margin-left: 6px;
    }

.weather-container .icon-prev-next .icon-dot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.weather-container .icon-prev-next .icon-dot-container i {
  font-size: 200px;
  padding: 30px;
}

.weather-container .temp-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-container .temp-status .temp {
  font-size: 50px;
}

.weather-container .city {
  display: flex;
  flex-direction: column;
}



.weather-container .city h1 {
  padding: 15px 0;
}


ul.dot {
  display: flex;
  justify-content: center;
	align-items: center;
  /*background: blue;*/
}


li.dot{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  border-radius: 50%;
  list-style-type: none;
  margin: 0px 5px;

}


/***  FORECAST  ***/


.forecast li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-left: -20px;
  padding: 20px;
}

.forecast li:nth-child(odd){
  background-color: #375aae;
}

.forecast li p {
  width: 30.33%;
  text-align: right;
}

.forecast li p:first-child {
  text-align: left;
}


/***  FOOTER  ***/


.footer {
  padding-top: 25px;
}

.footer .top,
.footer .bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.footer p {
  font-size: 30px;
  display: flex;
  align-items: center;
  width: 43%;
}

.footer p i {
  padding-right: 10px;
}



/***  SEARCH  ***/

.home h1 {
  text-align: center;
  margin-bottom: 20px;
}


.search-container {
}

.forms {
  /*margin-top: 20px;*/
  /*background: red;*/
}

form input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
}
