@import url('https://fonts.googleapis.com/css?family=Comfortaa');
/* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> */


.main-content h1{
  padding: 20px;
  /* background-color: red; */
  font-size: 30px;
  font-family: 'Comfortaa';
  color: black;


}

.main-content p.temp{
  font-size: 130px;
  /* background-color: green; */
  font-family: 'Comfortaa';
  color: black;
}

 p.temp i {
   /* background-color: green; */
  position: absolute;
  top: 90px;
  right: 50px;
  font-size: 90px;
  color: black;
}

.main-content p.description{
  font-size: 30px;
  /* background-color: yellow; */
  text-transform: capitalize;
  font-family: 'Comfortaa';
  margin-top:  15px;
  margin-bottom: 25px;
  color: black;
}

.main-content .footer{
	display: flex;

	justify-content: space-between;
	align-items: center;
  /* background-color: pink; */
  color: black;
  Opacity : 0.8;
  padding-top: 20px;

}
.main-content .footer p{
  font-family: 'Comfortaa';

}

.main-content .footer i {
  font-size: 50px;
  padding: 10px;
  /* background-color: purple; */
  align-items: center;
  color: black;

}


h1.homeText{
  padding-top: 30px;
  font-family: 'Comfortaa';
}

h1.homeText i{
  padding: 40px;
  font-size: 160px;
}
.searchzip{

}
.searchzip input{
  border-radius: 20px;
  border: none;
  /* height: 20px; */
  text-align: center;
  font-family: 'Comfortaa';
  padding: 10px;

}
.searchzip input.city{
  margin: 20px;
}

.searchzip button{
  position: relative;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-family: 'Comfortaa';
  border: none;



}



/* ful page css */
@media only screen and (min-width: 768px) {
  .main-content h1{
    padding: 20px;
    /* background-color: red; */
    font-size: 30px;
    font-family: 'Comfortaa';
    color: black;
}
.main-content .footer{
	display: flex;
	justify-content: center;
	align-items: center;
  /* background-color: pink; */
  color: black;
  Opacity : 0.8;
  padding-top: 20px;
}
p.temp i {
  /* background-color: green; */
  position: absolute;
  top: 75px;
  right: 500px;
  font-size: 90px;
  color: black;
}

}
